<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head th:replace="../_layout :: head('Autor')"></head>

<div th:replace="../_layout :: layout('Autor', ~{::content})">
    <div th:fragment="content">
        <h1>Cadastro de Autor</h1>

        <div th:if="${erro}" class="alert alert-danger" th:text="${erro}"></div>

        <form th:action="@{/autores-site}" th:object="${autor}" method="post">
            <input type="hidden" th:field="*{id}" />

            <div class="mb-3">
                <label>Nome *</label>
                <input class="form-control" th:field="*{nome}" required />
            </div>

            <div class="mb-3">
                <label>Nacionalidade</label>
                <input class="form-control" th:field="*{nacionalidade}" />
            </div>

            <div class="mb-3">
                <label>Biografia</label>
                <textarea class="form-control" th:field="*{biografia}"></textarea>
            </div>

            <button class="btn btn-primary">Salvar</button>
        </form>
    </div>
</div>

</html>