<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{_layout :: head('Autores')}"></head>

<div th:replace="../_layout :: layout('Autores', ~{::content})">
    <div th:fragment="content">

        <div class="d-flex justify-content-between mb-3">
            <h1>Autores</h1>
            <a class="btn btn-primary" th:href="@{/autores-site/novo}">+ Novo Autor</a>
        </div>

        <div th:if="${ok}" class="alert alert-success" th:text="${ok}"></div>

        <table class="table">
            <thead class="table-light">
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Nacionalidade</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="a : ${autores}">
                    <td th:text="${a.id}"></td>
                    <td th:text="${a.nome}"></td>
                    <td th:text="${a.nacionalidade}"></td>
                    <td>
                        <form th:action="@{'/autores-site/' + ${a.id} + '/excluir'}" method="post" class="d-inline"
                            onsubmit="return confirm('Excluir autor?')">
                            <button class="btn btn-sm btn-outline-danger">Excluir</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

</html>